.header {
  display: flex;
  justify-content: space-between;
}

.header-1 {
  color: #00008b;
}

.header-2 {
  display: flex;
  justify-content: flex-end;
  margin-bottom: 100px;
}

.card{
  display: flex;
  position: relative;
}

.text{
  position: absolute;
  top: 270px;
}

a{
  font-size: 60px;
}ß

.box {
  background-color: #00008b;
  width: 1000px;
  height: 200px;
}

img {
  width: 50%;
  position: absolute;
  right:0;
}
