a {
  text-decoration: none;
  color: inherit;
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 70px;
  padding: 0 30px;
  color: #a9a9a9;
}

.header-ttl {
  width: 80px;
}

.header-ttl img {
  width: 80px;
}

.header-nav-list {
  display: flex;
  font-weight: bold;
}

.header-nav-item:not(:last-child) {
  margin-right: 30px;
}

.relative {
  position: relative;
}

.relative__img {
  margin: 0 0 0 auto;
  display: block;
  width: 60%;
}

.absolute {
  position: absolute;
  top: 20%;
  left: 26%;
}

.first-1 {
  font-size: 40px;
  line-height: 2;
  margin-bottom: 40px;
}

.growth {
  color: rgb(26, 161, 139);
}

.second {
  line-height: 1.5;
}

.seichou {
  color: rgb(26, 161, 139);
}

.third {
  font-size: 12px;
  color: #a9a9a9;
}

.titl-1 {
}

.logo {
  color: firebrick;
  margin-top: 30px;
  margin-left: 28%;
  font-size: 10px;
}

.title-1-1 {
  font-weight: bold;
  margin-top: 10px;
  margin-bottom: 20px;
  margin-left: 28%;
}

.service {
  margin-left: 28%;
  line-height: 2;
  font-size: 13px;
}

table td {
  padding-right: 20px;
}

.news {
  border-radius: 6px;
  margin-right: 8px;
  padding: 0px 0;
  width: 100px;
  display: inline-block;
  text-align: center;
  background: #5bc8ac;
  color: #fff;
  font-size: 13px;
}
