.header{
  display: flex;
  justify-content: space-between;
}

.header-1{
  color: #00008B;
}

.header-2{
  display: flex;
  justify-content: flex-end;
  margin-bottom: 100px;
}

div p{
  color: #00008B;
  font-weight: bold;
  display: inline-block;
  margin-left: 20px;
}

img{
  width: 50%;
  display: flex;
  justify-content: flex-end;
  margin-left: auto;
}

.box{
  background-color: #00008B;
  width: 700px;
  height: 150px;
}